*{
    margin: 0;
    padding: 0;
}
.para{
    width: 100%;
    height: 100%;
}
.header{
    background-color: rgb(8, 192, 192);
    padding-top: 10px;
}
.contenu{
    display: flex;
}
.zou{
    background-color: rgb(245, 131, 131);
    width: 8%;
    height: 400px;
    padding-top: 170px;
}
.derulo {
    background-color: gold;
    width: 92%;
    height: 570px;
}
.footer{
    background-color: rgb(131, 243, 131);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 20%;
}